@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --themeColor: #fdba74;
    /* --fave: #5ABB85; */
    --faveDark: #222244;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f8f8f8;
    font-weight: 400;
    color: #333;
    font-size: 16px;
}
html,
body,
#app {
    height: 100%;
}
button {
    font-size: inherit !important;
}

.admin_main_wrapper {
    /* display: grid;
    grid-template-columns: 250px 1fr; */
    position: relative;
    /* overflow-x: hidden; */
    padding-left: 250px;
    transition: all 0.2s ease-in-out;
}

.left_aside {
    left: 0;
    width: 250px;
    position: fixed;
    top: 56px;
    transition: all 0.2s ease-in-out;
    z-index: 99;
}

@media (max-width: 768px) {
    .left_aside {
        left: -250px;
    }
    .admin_main_wrapper {
        padding-left: 0;
    }
}

.admin_main_wrapper.asideActive .left_aside {
    left: -250px !important;
}
.admin_main_wrapper.asideActive  {
    padding-left: 0;
}

@media (max-width: 768px) {
    .admin_main_wrapper.asideActive .left_aside {
        left: 0px !important;
    }
}

.el-date-editor.el-input, .el-date-editor.el-input__wrapper {
    width: 100% !important;
}

.el-picker-panel__footer .el-button {
    color: #000 !important;
}

