.feature_wraper{
    margin-bottom: var(--bottom);
    color: #fff;
    display: grid;
    place-content: center;
    padding: var(--padding_wraper);
}
.feature_title{
    font-size: var(--title_font_size);
    font-weight: 900;
    color: var(--color_1);
    text-align: center;
    margin-bottom: var(--title_bottom);
}
.feature_title>span{
    color: var(--font_color);
}
.event_icon{
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 45px 16px;
    /* background-color: #ff3503; */
    border-radius: 25px;
    box-shadow: 0 4px 6px #0001, 0 4px 16px #0001;
}
.event_icon> span{
    font-size: var(--para_size);
    color: var(--font_color);
}   
.event_icon> span i{
    color: var(--color_1);
}   
/* responsive start */
@media screen and (max-width: 992px) {
    .event_icon{
        grid-template-columns: repeat(1 , 1fr);
         max-width: 400px;
         padding-bottom: 20px;
    }
  .feature_title{
    font-size: 30px;
    padding-bottom: 10px;
  }
   .event_icon .border{
       border: none;
    } 
}
@media screen and (max-width: 762px) {
    .feature_title{
        font-size: 20px;
        padding-bottom: 10px;
  }
  .feature_wraper{
    padding: 15px;
  }
}

/* responsive end */